////////////////////////////////////////
/// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // includes padding and border-width in width (height) absolute value 
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1;
  color: #111;
  background: #fff;

  overflow-x: hidden;
}

html {
  /*smooth scroll*/overflow-y: scroll;
  /*smooth scroll*/scroll-behavior: smooth;
  /*smooth scroll*/scroll-snap-type: y mandatory;
  section {
    /*smooth scroll*/scroll-snap-align: top;
  }
}

a {
  text-decoration: none; // removes underline
  color: #111;
}

ul {
  list-style: none; // removes dots
}

////////////////////////////////////////
/// VARIABLES

$cl-primory: #0E1744;

////////////////////////////////////////
/// ITEMS

.btn {
  display: flex;
  align-items: center;
  padding: .1rem .2rem;
  cursor: pointer;
  background: #eee;
  border: 1px solid #ccc;
  margin: .3rem 0 .3rem .3rem; /* T R B L */
  &-active {
    background: lighten($cl-primory, 10%);
    color: #fff;
    font-weight: bold;
  }
}

.tab {
  padding: .5rem .8rem;
  cursor: pointer;
  background: #eee;
  margin: .3rem 0 .3rem .3rem; /* T R B L */
  border-bottom: 5px solid #ccc;
  
  &:hover { 
    border-bottom: 5px solid lighten($cl-primory, 50%); 
  }
  
  &-active {
    border-bottom: 5px solid lighten($cl-primory, 10%) !important;
    font-weight: bold;
  }
}

.slot {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardboard {
  height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-evenly;
}

.card {
  overflow: hidden;
  height: 250px;
  // min-width: 200px;
  // max-width: 300px;
  background: #fff;
  margin: 0 .4rem;
  box-shadow: /*R*/5px /*B*/5px /*grad*/5px rgba(#fff, .5);

  transition: transform .5s ease;
  // &:hover { transform: scale(1.05); }
  
  &-img {
    overflow: hidden;
    background: $cl-primory;
    height: 100px;
    width: 100%;
  }
  &-title {
    overflow: hidden;
    height: 50px;
    background: #eee;
    color: $cl-primory;
    padding: .2rem .4rem;
    font-size: .8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  &-text {
    margin-top: .2rem;
    padding: .2rem .4rem;
    font-size: .8rem;
  }
}

.overlay {
  &-0 {
    height: 100%;
    width: 100%;
    background: rgba(#000, 0.5);
  }
  &-f {
    height: 100%;
    width: 100%;
    background: rgba(#fff, 0.6);
  }
}