@import './_frame.scss';
@import './_url.scss';

header {
  .nb {
    background: #eee;
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }
  .nb .nc {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 .3rem;
    text-align: center;
  }
  .nb .nc .i-logo {
    background: no-repeat url($i-logo);
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 70px;
  }
  .nb .nc a {
    color: $cl-primory;
    &:hover { color: lighten($cl-primory, 20%); }
  }
  .nb .nc .col {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: normal;
  }
  .nb .nc .col .btn {
    border: none;
    margin: 0;
  }
}

section#social {
  height: 30px;
  background: darken($cl-primory, 5%);
  .row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }
  .row i {
    color: #fff;
  }
}

section#feed {
  .bg-scene {
    background: no-repeat url($i-bg-scene);
    background-size: cover;
    background-position: center;
    height: 350px;
  }

  .i-logo-accento {
    background: no-repeat url($i-logo-accento);
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .i-feed-dead {
    background: no-repeat url($i-feed-dead);
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
  }
  .i-feed-grishcovec {
    background: no-repeat url($i-feed-grishcovec);
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
  }
  .i-logo-solo {
    background: no-repeat url($i-logo-solo) center/contain;
    height: 100%;
    width: 100%;
  }
  .i-port-kalyagin-1 {
    background: no-repeat url($i-port-kalyagin-1) center/cover;
    height: 100%;
    width: 100%;
  }
  .i-logo-chance {
    background: no-repeat url($i-logo-chance) center/contain;
    height: 100%;
    width: 100%;
  }
}

section#info {
  .address {
    background: $cl-primory;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .row .cashier {
    height: 100%;
    padding: 1rem;
    background: #ddd;
    color: #000;
    font-weight: normal;
  }
  .row .phone {
    height: 100%;
    padding: 1rem;
    background: #444;
    color: #eee;
    display: flex;
    align-items: center;
  }
}

section#playbills {
  // background: $cl-primory;
  padding-top: .5rem;

  .btns {
    display: flex;
  }

  .btns .btn {
    font-size: 1.2rem;
    padding: .5rem;
    span { margin: 0 .8rem; }
    i { font-size: 1.4rem; }
    i:hover { color: lighten($cl-primory, 50%); }
  }

  .play-list .play {
    margin: .5rem;
    background: #eee;
    min-height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    align-items: center;
  }

  .play-list .play > * {
    margin: 0 .5rem;
  }
  
  .play-list .play .time {
    height: 100%;
    padding: 0 .5rem;
    background: $cl-primory;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section#about {
  overflow: hidden;
  padding: .5rem;

  .tabs {
    width: 100%;
    margin-right: 1rem;
    display: flex;
  }
  .tab {
    &:first-of-type { margin-left: 0; }
    flex-grow: 1; /* occupy free space in flex */
  }
  .content {
    padding: 1rem 0;
    width: 100%;
    // background: red;
  }

  .content-about-us {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-gap: 1rem;
  
    .i-port-kalyagin {
      background: no-repeat url($i-port-kalyagin);
      background-size: cover;
      background-position: center;
      height: 200px;
      width: 200px;
      border-radius: 200px;
      justify-self: center;
    }
    .greeting {
      line-height: 1.5;
      h2 { text-align: center; }
      h3 { text-align: right; }
    }
    .paragraph-1 {
      grid-column: 1 / 3;
    }
    .paragraph-2 {
      background: #eee;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .slot {
      &:nth-last-of-type(3) { background: #eee; }
      height: 100%;
      width: 100%;
    }
    .i-port-actor {
      background: no-repeat url($i-port-actor);
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 150px;
      border-radius: 150px;
      justify-self: center;
    }
    .i-port-director {
      background: no-repeat url($i-port-director);
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 150px;
      border-radius: 150px;
      justify-self: center;
    }
  }

  .content-contacts {
    & > div { 
      margin-bottom: 1.5rem; 
      &:last-child { margin: 0; }
    }
    * { margin-bottom: .3rem; }
    
    .address .metro-purple {
      height: 25px;
      width: 25px;
      display: inline-flex;
      border-radius: 10rem;
      background: purple;
      color: #eee;
      align-items: center;
      justify-content: center;
    }
    .address .metro-grey {
      height: 25px;
      width: 25px;
      display: inline-flex;
      border-radius: 10rem;
      background: grey;
      color: #fff;
      align-items: center;
      justify-content: center;
    }
    .i-scheme-map {
      background: url($i-scheme-map) center/contain no-repeat;
      height: 300px;
      width: 100%;
    }
  }

  .content-cashier-and-hall {
    & > div { 
      margin-bottom: 1.5rem; 
      &:last-child { margin: 0; }
    }
    * { margin-bottom: .3rem; }

    p { margin-bottom: .8rem; }

    .i-scheme-hall {
      background: url($i-scheme-hall) center/contain no-repeat;
      height: 300px;
      width: 100%;
    }
    
    .tickets-online {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      padding: /*Y*/.5rem /*X*/1rem;
      align-items: center;
      justify-content: center;
      background: $cl-primory;
    }

    .i-logo-kassir {
      background: url($i-logo-kassir) center/contain no-repeat;
      height: 100px;
    }
    .i-logo-ponominalu {
      background: url($i-logo-ponominalu) center/contain no-repeat;
      height: 100px;
    }
    .i-logo-ticketland {
      background: url($i-logo-ticketland) center/contain no-repeat;
      height: 100px;
    }
    .i-logo-bigbilet {
      background: url($i-logo-bigbilet) center/contain no-repeat;
      height: 100px;
    }
    .i-logo-parter {
      background: url($i-logo-parter) center/contain no-repeat;
      height: 100px;
    }
    .i-logo-listim {
      background: url($i-logo-listim) center/contain no-repeat;
      height: 100px;
    }
  }

  .content-employees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .employee {
      width: 300px;
      margin: /*Y*/1rem /*X*/0;
    }

    .employee .position {
      color: $cl-primory;
    }
  }

  .content-to-patrners {
    p {
      margin: .5rem 0;
    }
  }
}

section#projects {
  overflow: hidden;
  background: $cl-primory;
  padding: 3rem 2rem;

  .project {
    background: #222;
    margin-bottom: 1rem;
    color: #eee;

    transition: transform .5s ease;
    &:hover { transform: scale(1.05); }
  }

  .project .title {
    padding: 1rem;
  }

  .project .poster {
    height: 200px;
    background: #000;
  }

  .poster .i-logo-ptu {
    background: no-repeat url($i-logo-ptu);
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .poster .i-logo-solo {
    background: no-repeat url($i-logo-solo);
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .poster .i-logo-kalyda {
    background: no-repeat url($i-logo-kalyda);
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .poster .i-logo-chance {
    background: no-repeat url($i-logo-chance);
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .poster .i-logo-lab {
    background: no-repeat url($i-logo-lab);
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .poster .i-logo-accento {
    background: no-repeat url($i-logo-accento);
    background-size: contain;
    background-position: center;
    height: 100%;
  }
  .poster .i-play-piter-moscow {
    background: no-repeat url($i-play-piter-moscow);
    background-size: cover;
    background-position: bottom;
    height: 100%;
  }
}