.slick-slider {
  /* background: red; */
  /* padding-top: 10%; */
  /* padding-bottom: 10%; */
}

.slick-list {
  /* background: green; */
  height: 100%;
}

.slick-track {
  /* background: blue; */
  margin-top: 5%;
  margin-bottom: 10%;

  display: flex;
}

.slick-slide { 
  margin: 0 1rem !important; 
  outline: none;
}
.slick-slide:active {
  outline: none;
}
.slick-slide.slick-current {
  transform: scale(1.05);
}

.slick-dots {
	list-style: none;
	margin: 0;
  padding: 0;
  
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  
	display: flex;
	align-items: center; 
}

.slick-dots li {
  display: flex;
  align-items: center; 
  justify-content: center;
  
  height: 20px;
  width: 20px;
}

.slick-dots li button {
  display: block;
  height: 5px;
  width: 5px;
  outline: none;

  background: #111;
  border: 1px solid #999;
  border-radius: 10px;

  line-height: 0px;
  font-size: 0px;

  cursor: pointer;			
}

.slick-dots li.slick-active button {
  height: 10px;
  width: 10px;

  background: #111;
  border: 1px solid #999;
}
