@media (max-width: 520px) {
  .h-m {
    display: none !important;
  }
  .ha-m {
    position: absolute;
    top: -100vh;
  }
  header .nb .nc {
    font-size: 1rem !important;
  }
  section#playbills .play {
    -ms-grid-columns: 1fr 1fr 3fr !important;
        grid-template-columns: 1fr 1fr 3fr !important;
  }
  section#about .tab {
    font-size: .8rem;
    padding-left: .1rem;
    padding-right: .1rem;
  }
}
